<p id="notice"><%= notice %></p>
<main>
  
  <h1>Tasks for <%= @task_list.name %> - <%= @project.name %></h1>
  
  <% @tasks.each do |task| %>
    <div class="task">
      <p class="task-status"><%= task.status %></p>
      <p class="task-title"><%= task.title %></p>
      <p class="task-duration"><%= task.duration %></p>
      <p class="task-description"><%= task.description %></p>
      <ul class="task-users">
      <% task.users.each do |user| %>
        <li class="task-user"><%= user.username %></li>
      <% end %>
      </ul>
      <p class=""><%= task.task_list.name %></p>
      <div class="task-commands">
        <%= link_to 'Show', project_task_list_task_path(id: task) %>
        <%= link_to 'Edit', edit_project_task_list_task_path(id: task) %>
        <%= link_to 'Destroy', project_task_list_task_path(id: task), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <% end %>
  
  <%= link_to 'New Task', new_project_task_list_task_path(project_id: @project, task_list_id: @task_list), class: 'new-task' %>
</main>
