<p id="notice"><%= notice %></p>
<main>
  
  <h1>Tasks</h1>
  
  <% @tasks.each do |task| %>
    <div class="task">
      <p class="task-status"><%= task.status %></p>
      <p class="task-title"><%= task.title %></p>
      <p class="task-duration">2 jours</p>
      <p class="task-description"><%= task.description %></p>
      <ul class="task-users">
        <li class="task-user"><%= task.user_id %></li>
        <li class="task-user">User 1</li>
        <li class="task-user">User 2</li>
        <li class="task-user">User 3</li>
      </ul>
      <p class=""><%= task.project_id %></p>
      <p class=""><%= task.task_list_id %></p>
      <div class="task-commands">
        <%= link_to 'Show', task %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <% end %>
  
  <%= link_to 'New Task', new_task_path, class: 'new-task' %>
</main>
