<p id="notice"><%= notice %></p>

<div class="task">
  <p class="task-status"><%= @task.status %></p>
  <p class="task-title"><%= @task.title %></p>
  <p class="task-duration">2 jours</p>
  <p class="task-description"><%= @task.description %></p>
  <ul class="task-users">
    <li class="task-user"><%= @task.user_id %></li>
  </ul>
  <p class=""><%= @task.task_list.name %></p>
</div>



<%= link_to 'Edit', edit_project_task_list_task_path(project_id: @task.task_list.project, task_list_id: @task.task_list, id: @task) %> |
<%= link_to 'Back', project_task_list_tasks_path(project_id: @task.task_list.project, task_list_id: @task.task_list) %>
