<p id="notice"><%= notice %></p>

<div class="task">
  <p class="task-status"><%= @task.status %></p>
  <p class="task-title"><%= @task.title %></p>
  <p class="task-duration">2 jours</p>
  <p class="task-description"><%= @task.description %></p>
  <ul class="task-users">
    <li class="task-user"><%= @task.user_id %></li>
  </ul>
  <p class=""><%= @task.project_id %></p>
  <p class=""><%= @task.task_list_id %></p>
</div>



<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
