<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation" class="error-message">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <input type="color" class="form-control"  id="color" name="project[color]">
    
  </div>

        
  <div class="field">
    <label for="exampleDataList" class="form-label">Add member</label>
    <select id="datalistOptions" name="project[project_users_attributes][][user_id]">
      <% @users.each do |user| %>
        <option class="form-control" value="<%= user.id %>"><%= user.email %></option>
      <% end %>
    </select>
    <input type="text" id="role" name="project[project_users_attributes][][role]" value="Membre" hidden >
  </div>

  <div class="field">
    <input type="text" class="form-control"  id="id" name="project[project_users_attributes][][user_id]" value=<%= current_user.id %> hidden>
    <input type="text" class="form-control"  id="role" name="project[project_users_attributes][][role]" value="Administrator"hidden >
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
