<p id="notice"><%= notice %></p>

<section class="home">
  <nav>
    <div class="menu-logo">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 616 205" width="616" height="205">
        <path id="Path 0" fill="#FFFFFF" d="M281.32 0.69L334.91 1.37C364.38 1.75 402.22 2.5 419 3.04C435.77 3.58 456.92 4.48 466 5.03C475.07 5.58 486.77 6.48 492 7.03C497.22 7.57 504.2 8.69 507.5 9.52C510.8 10.35 518.22 13.31 524 16.09C529.77 18.87 538.77 24 544 27.5C549.22 30.99 557.1 36.75 561.5 40.29C565.9 43.84 574.9 52.31 581.5 59.13C588.1 65.94 596.23 75.56 599.56 80.51C602.89 85.45 607.04 92.42 608.77 96C610.5 99.57 612.84 106.1 613.97 110.5C615.1 114.9 616.01 120.97 615.99 124C615.97 127.02 615.48 131.52 614.9 134C614.32 136.47 612.68 140.97 611.26 144C609.66 147.38 605.93 152.23 601.58 156.56C597.69 160.44 592.25 164.84 584.5 169.06L282.5 169.01L281.75 153.25C281.34 144.59 281.08 106.72 281.16 69.09L281.32 0.69ZM484 118L497 118C496.97 106.01 497.23 105.24 500.23 102.27C502.03 100.49 504.17 99.04 505 99.06C505.82 99.07 509.87 103.36 514 108.57L521.5 118.06C534.25 118.01 535.83 117.7 535.31 116.75C534.93 116.06 530.57 110.32 525.63 104C520.68 97.67 516.16 91.91 515.57 91.2C514.76 90.21 515.83 88.52 520.01 84.2C523.04 81.06 527.54 76.36 530.01 73.74L534.5 68.97L520.5 68.93C503.84 84.49 498.55 88.77 498 88.5C497.39 88.19 497 80.67 497 69L497 50L484 50L484 118ZM314 65L335 65L335 118L349 118L349 65L370 65L370 54L314 54L314 65ZM377.25 72.83L375 74C378.84 80.89 379.94 81.87 381 81.39C381.82 81.02 384.75 80.09 387.5 79.33C390.63 78.47 394 78.21 396.5 78.66C398.7 79.05 401.74 80.41 403.25 81.68C405.02 83.17 406 84.98 406.01 86.75L406.01 89.5C387.3 90.56 383.46 91.25 380.5 92.77C378.3 93.89 375.71 96.2 374.75 97.9C373.79 99.61 373 102.35 373 104C373 105.65 373.45 108.12 374 109.5C374.55 110.87 376.24 113.12 377.75 114.48C379.26 115.84 382.75 117.47 385.5 118.1C388.25 118.72 392.3 118.96 394.5 118.63C396.7 118.3 400.19 116.9 402.25 115.52C404.31 114.13 406.24 113.34 406.53 113.75C406.82 114.16 407.04 115.29 407.03 116.25C407 117.73 407.94 118 413 118L419 118C418.88 91.1 418.39 83.25 417.67 81.32C417.03 79.57 415.49 76.98 414.25 75.57C413.01 74.16 410.09 72.11 407.75 71.02C404.59 69.55 401.44 69.06 395.5 69.09C391.1 69.11 385.7 69.7 383.5 70.39C381.3 71.08 378.49 72.18 377.25 72.83ZM434.25 75.46C431.49 78.47 431 79.75 431 84C431 88.05 431.53 89.59 433.75 92.06C435.26 93.75 437.85 95.54 439.5 96.05C441.15 96.55 446.1 97.66 450.5 98.51C454.9 99.37 459.1 100.61 459.82 101.28C460.55 101.95 461 103.62 460.82 105C460.59 106.82 459.55 107.83 457 108.74C454.85 109.5 451.37 109.74 448 109.37C444.97 109.04 440.7 108.13 438.5 107.36C436.3 106.59 434.27 105.96 434 105.96C433.72 105.96 432.71 107.54 431.75 109.48C430.79 111.42 430.22 113.45 430.5 114C430.77 114.55 433.36 115.77 436.25 116.72C439.61 117.82 444.75 118.45 450.5 118.47C458.13 118.49 460.25 118.11 464.45 115.99C467.17 114.62 470.21 112.15 471.2 110.5C472.18 108.85 472.99 105.59 473 103.25C473 100.18 472.31 98.17 470.5 96C468.84 94 466.24 92.52 462.75 91.56C459.86 90.77 454.8 89.6 451.5 88.96C448.2 88.31 444.92 87.27 444.21 86.64C443.49 86.01 442.93 84.49 442.96 83.25C442.98 82.01 444.01 80.32 445.25 79.49C446.57 78.61 449.78 77.98 453 77.97C456.02 77.96 460.52 78.64 463 79.48C465.47 80.31 467.51 80.88 467.53 80.75C467.55 80.61 468.33 78.81 469.28 76.75C470.23 74.69 471 72.77 471 72.5C471 72.22 468.64 71.32 465.75 70.49C462.86 69.66 457.12 69 453 69.03C448.87 69.06 443.7 69.72 441.5 70.5C439.3 71.28 436.04 73.51 434.25 75.46ZM147.06 36C149.23 36 152.24 36.61 153.75 37.36C155.26 38.11 156.84 39.46 157.25 40.36C157.66 41.26 158 43.46 158.01 45.25C158.01 47.04 157.31 49.48 156.44 50.67C155.57 51.87 153.2 53.37 151.18 54.01C149.16 54.66 146.26 54.92 144.75 54.59C143.24 54.27 140.82 52.54 139.39 50.75C137.3 48.14 136.89 46.81 137.36 44C137.68 42.01 139.05 39.53 140.53 38.25C142.27 36.74 144.41 36 147.06 36ZM187.5 40.5L188 118L170 118L169.83 79.67C169.74 58.58 170.06 41.02 170.54 40.63C171.01 40.24 175.03 40.05 187.5 40.5ZM0.14 44.86L21.82 45.18C42.49 45.49 43.75 45.62 48.9 48C51.86 49.37 56.03 52.41 58.15 54.75C60.27 57.09 62.45 60.69 62.99 62.75C63.54 64.81 64 68.75 64.01 71.5C64.02 74.25 63.36 78.52 62.55 81C61.61 83.87 59.44 87.04 56.54 89.75C54.04 92.09 51.55 94 51 94C50.45 94 50.16 94.56 50.36 95.25C50.56 95.94 53.94 101.11 57.86 106.75C61.79 112.39 65 117.22 65 117.5C65 117.77 60.84 118.02 46.5 118.08L32.5 97.96L18 98L18 118L0 118L0.14 44.86ZM18 84C33.31 83.98 36.5 83.49 39.5 82.05C41.7 80.99 44.06 78.97 44.75 77.56C45.44 76.15 46 73.2 46 71C46 68.04 45.28 66.2 43.25 63.95C41.62 62.13 38.88 60.52 36.5 59.97C34.3 59.46 29.24 59.04 25.25 59.02L18 59L18 84ZM99 61.23C106.85 61.47 109.37 61.96 113.5 64.07C116.56 65.63 119.66 68.28 124.5 75.17L125 118L117 118C110.06 118 108.99 117.77 108.96 116.25C108.93 114.65 108.51 114.7 104.21 116.77C100.66 118.48 97.78 119.03 92.5 119C87.99 118.97 84.08 118.32 81.5 117.16C79.3 116.17 76.46 114.04 75.2 112.43C73.93 110.82 72.47 107.81 71.95 105.75C71.34 103.35 71.36 100.47 71.99 97.75C72.53 95.41 74.22 92.25 75.74 90.73C77.26 89.21 80.52 87.29 83 86.47C85.83 85.53 91.3 84.98 97.75 84.99C107.34 85 108 84.87 108 83C108 81.9 106.65 79.65 105 78C102.3 75.3 101.38 75 95.75 75.02C91.7 75.04 87.92 75.75 85 77.05C82.52 78.15 80.16 79.04 79.75 79.03C79.34 79.01 77.76 76.53 76.25 73.51C73.97 68.97 73.73 67.81 74.83 66.76C75.56 66.07 79.16 64.47 82.83 63.22C88.3 61.35 91.21 60.99 99 61.23ZM88.8 98.49C88.38 99.05 88.02 100.29 88.02 101.25C88.01 102.21 88.9 103.9 90 105C91.47 106.47 93.33 107 97 107C100.87 107 102.68 106.43 105 104.5C107.29 102.6 108 101.17 108 98.5L108 95C96.76 95.05 92.61 95.6 91.53 96.27C90.45 96.93 89.22 97.93 88.8 98.49ZM223.5 61.04C227.9 61.01 234.2 61.69 237.5 62.54C240.8 63.39 244.03 64.64 244.67 65.31C245.57 66.24 245.26 67.8 243.35 72.01C241.97 75.03 240.77 77.58 240.68 77.68C240.58 77.77 238.02 77 235 75.96C231.97 74.92 227.36 74.05 224.75 74.03C222.14 74.01 218.87 74.45 217.5 75C216.12 75.55 214.66 76.7 214.25 77.55C213.8 78.48 214.1 79.68 215 80.55C215.82 81.35 221 82.92 226.5 84.05C232 85.18 238.04 86.86 239.91 87.8C241.79 88.73 244.17 90.62 245.2 92C246.23 93.37 247.33 95.85 247.65 97.5C247.96 99.15 247.9 102.3 247.51 104.5C247.03 107.16 245.57 109.71 243.14 112.13C240.78 114.49 237.57 116.33 234 117.39C230.97 118.29 225.12 119.02 221 119.01C216.87 119.01 210.91 118.33 207.75 117.51C204.59 116.68 200.65 115.32 196 113L199 107C201.38 102.24 202.36 101.14 203.75 101.65C204.71 102.01 207.75 103.12 210.5 104.12C213.25 105.12 217.86 105.95 220.75 105.97C223.64 105.99 227.01 105.62 228.25 105.15C229.49 104.69 230.84 103.56 231.25 102.65C231.68 101.7 231.47 100.46 230.75 99.72C230.06 99.02 225.22 97.64 220 96.66C214.77 95.68 208.59 94 206.25 92.94C203.84 91.84 201.14 89.59 200 87.75C198.73 85.67 198 82.7 197.98 79.5C197.95 75.92 198.59 73.53 200.22 71.09C201.47 69.22 203.62 66.85 205 65.82C206.37 64.79 209.3 63.31 211.5 62.52C213.7 61.73 219.1 61.07 223.5 61.04ZM139 62L156 62L156 118L139 118L139 62ZM406 97L406 101C406 103.93 405.33 105.67 403.5 107.5C402.12 108.87 399.54 110.28 397.75 110.62C395.96 110.96 393.37 110.98 392 110.66C390.62 110.34 388.74 109.5 387.8 108.79C386.87 108.08 385.86 106.26 385.55 104.75C385.14 102.69 385.62 101.37 387.45 99.5C389.67 97.24 390.69 97 406 97ZM282 179L334 179L333.98 182.25C333.97 184.04 333.04 187.52 331.92 190C330.8 192.47 328.67 195.79 327.19 197.38C325.71 198.96 322.25 201.32 319.5 202.62C315.84 204.35 312.76 204.98 308 204.98C303.24 204.98 300.16 204.35 296.5 202.62C293.75 201.32 290.29 198.96 288.81 197.38C287.33 195.79 285.2 192.47 284.08 190C282.96 187.52 282.03 184.04 282.02 182.25L282 179ZM423 179L475 179L474.98 182.25C474.97 184.04 474.04 187.52 472.92 190C471.8 192.47 469.67 195.79 468.19 197.38C466.71 198.96 463.25 201.32 460.5 202.62C456.84 204.35 453.76 204.98 449 204.98C444.24 204.98 441.16 204.35 437.5 202.62C434.75 201.32 431.29 198.96 429.81 197.38C428.33 195.79 426.2 192.47 425.08 190C423.96 187.52 423.03 184.04 423.02 182.25L423 179ZM492.7 179L519.35 179C540 179 546 179.28 546.01 180.25C546.02 180.94 545.34 183.86 544.51 186.75C543.51 190.21 541.55 193.55 538.75 196.57C536.41 199.08 532.7 202 530.5 203.05C527.73 204.38 524.35 204.97 519.5 204.96C514.93 204.96 511.11 204.33 508.5 203.16C506.3 202.17 502.92 199.81 501 197.92C499.07 196.02 496.65 192.68 495.6 190.49C494.56 188.29 493.48 184.81 493.2 182.75L492.7 179Z" />
      </svg>
    </div>
    <div class="menu-account">
      <img src="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email.downcase) %>" class="account-picture">
      <div class="account">
        <p class="account-name"><%= current_user.username %></p>
        <button class="account-disconnect">
          <a href="<%= destroy_user_session_path %>" data-method="delete" aria-label="">Se déconnecter</a>
        </button>
      </div>
    </div>
    <div class="menu-projects">
    <% @projects.each do |project| %>
      <li class="project-item">
      <a href="<%= project_path(project) %>" data-turbolinks="false">
        <div class="project-item-title">
          <span class="project-item-color" color="<%= project.color %>"></span>
          <p class="project-item-name"><%= project.name %></p>
        </div>
        <div class="project-item-info">
          <ul class="project-item-users">
          <% project.users.each do |user| %>
            <li class="project-item-user"><img src="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(user.email.downcase) %>"></li>
          <% end %>
          </ul>
        </div>
        </a>
      </li>
      <% end %>
      <div class="space"></div>
      <button class="new-project">
        <%= link_to 'Créer un projet', new_project_path %>
      </button>
      <button class="settings">
        <a href="<%= root_path %>" aria-label="">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="507.451px" height="507.45px" viewBox="0 0 507.451 507.45" style="enable-background:new 0 0 507.451 507.45;"
            xml:space="preserve"><g><g id="settings"><path d="M440.813,280.5c0-7.65,2.55-15.3,2.55-25.5s0-17.85-2.55-25.5l53.55-43.35c5.1-5.1,5.1-10.2,2.55-15.3l-51-89.25
                c-2.55-2.55-7.649-5.1-15.3-2.55l-63.75,25.5c-12.75-10.2-28.05-17.85-43.35-25.5l-10.2-66.3C315.863,5.1,308.212,0,303.113,0
                h-102c-5.101,0-12.75,5.1-12.75,10.2l-10.2,68.85c-15.3,5.1-28.05,15.3-43.35,25.5l-61.2-25.5c-7.65-2.55-12.75,0-17.851,5.1
                l-51,89.25c-2.55,2.55,0,10.2,5.1,15.3l53.55,40.8c0,7.65-2.55,15.3-2.55,25.5s0,17.85,2.55,25.5l-53.55,43.35
                c-5.1,5.101-5.1,10.2-2.55,15.301l51,89.25c2.55,2.55,7.649,5.1,15.3,2.55l63.75-25.5c12.75,10.2,28.05,17.85,43.35,25.5
                l10.2,66.3c0,5.1,5.1,10.2,12.75,10.2h102c5.101,0,12.75-5.101,12.75-10.2l10.2-66.3c15.3-7.65,30.6-15.3,43.35-25.5l63.75,25.5
                c5.101,2.55,12.75,0,15.301-5.101l51-89.25c2.55-5.1,2.55-12.75-2.551-15.3L440.813,280.5z M252.113,344.25
                c-48.45,0-89.25-40.8-89.25-89.25s40.8-89.25,89.25-89.25s89.25,40.8,89.25,89.25S300.563,344.25,252.113,344.25z"/></g></g>
            </svg>
            Gérer les projets
        </a>
      </button>
    </div>
    
  </nav>


  <main class="column">  
    <section class="project">
      <div class="project-title">
        <div>
          <h1 class="project-name"><%= @project.name %></h1>
          <input type="color" value="<%= @project.color %>" class="project-color"/>
          <button class="edit">
            <%= link_to edit_project_path(@project) do %>
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 383.947 383.947" style="enable-background:new 0 0 383.947 383.947;" xml:space="preserve">
                <g><g><g><polygon points="0,303.947 0,383.947 80,383.947 316.053,147.893 236.053,67.893"/><path d="M377.707,56.053L327.893,6.24c-8.32-8.32-21.867-8.32-30.187,0l-39.04,39.04l80,80l39.04-39.04 C386.027,77.92,386.027,64.373,377.707,56.053z"/></g></g></g>
              </svg>
              Éditer
            <% end %>
          </button>
        </div>
        <div class="project-controls">
          <button id="plugin" class="plugin">
              <svg xmlns="http://www.w3.org/2000/svg" width="621.508" height="604.825" viewBox="0 0 621.508 604.825">
                  <path id="plugin-icon_1" data-name="plugin-icon 1" d="M407.232,4.147c-4.563,2.288-34.105,29.232-65.611,59.89l-57.339,55.718c-56.54-54.7-56.981-54.991-70.259-55.1-11.755-.081-14.577,1.077-22.82,9.34-7.856,7.887-9.4,11.413-9.4,21.533,0,8.963,1.8,14.212,6.915,20.188l6.915,8.075c-67.878,68.584-82.04,85.246-90.394,99.728C98.873,234.556,90.3,254.474,86.177,267.8c-6.306,20.3-7.551,29.474-7.717,56.526-.138,23.607,1.189,37.011,4.9,49.8a267.127,267.127,0,0,0,14.411,36.338l9.349,18.841C11.881,522.432,4.855,530.454,2.034,541.005.264,547.654-.455,557.344.4,562.538c.885,5.168,4.453,13.647,7.939,18.842a65.53,65.53,0,0,0,15.932,15.477c5.255,3.338,13.886,6.757,19.224,7.618,5.311.835,15.268.134,22.128-1.588,10.843-2.745,19.086-9.584,63.619-52.7l51.172-49.553c30.011,14.346,46.193,20.4,55.322,22.772,9.127,2.342,26.553,4.979,38.724,5.867,12.169.916,30.84.323,41.49-1.292a293.48,293.48,0,0,0,40.107-9.771,257.045,257.045,0,0,0,40.107-18.114c12.117-7.053,34.105-25.169,58.78-48.425L494.363,414.5c14.5,11.762,19.8,13.458,29.321,13.458,10.9,0,14.079-1.345,22.129-9.42s9.4-11.252,9.322-22.206c-.084-12.678-.36-13.056-31.756-43.741l-31.67-30.953c108.761-105.811,125.357-123.685,127.9-131.22,2.876-8.641,2.682-11.467-1.466-19.515a43.343,43.343,0,0,0-13.83-14.8c-4.952-2.934-11.784-5.357-15.215-5.383a34.5,34.5,0,0,0-12.447,2.988c-3.429,1.615-34.244,30.093-68.46,63.255L445.957,277.22l-116.173-113C449.442,47.645,452.789,43.849,452.816,34.294c.029-5.545-2.13-13.754-4.784-18.223S439.154,6.166,434.2,3.959C429.25,1.778,423.027-.025,420.372,0,417.717,0,411.8,1.886,407.232,4.147Z" transform="translate(-0.041 -0.001)"/>
              </svg>
              <div class="integration">
                <div class="integration-card discord"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="676.151" height="482.451" viewBox="0 0 676.151 482.451">
                        <path id="Soustraction_155" data-name="Soustraction 155" d="M1825.869,78.451a175.292,175.292,0,0,1-18.307-1.4c-6.04-.789-13.89-1.933-17.5-2.55s-10.788-2.213-16-3.56c-5.254-1.356-12.656-3.532-16.5-4.85-3.824-1.3-9.431-3.35-12.5-4.569-3.12-1.246-10.522-4.7-16.5-7.69a270.091,270.091,0,0,1-23.98-14.16A173.261,173.261,0,0,1,1679.211,19c-6.839-6.618-14.281-14.469-16.59-17.5a83.7,83.7,0,0,1-5.38-7.75c-.737-1.414-1.2-7.77-1.239-17-.031-8.261.417-21.607,1-29.75.589-8.382,1.531-19.149,2.1-24,.545-4.733,1.437-11.91,1.99-16,.518-3.833,1.659-11.8,2.56-18,.893-6.071,2.957-17.735,4.6-26s3.807-18.819,4.82-23.5c1.061-4.867,3.328-14.484,4.95-21,1.7-6.894,4.027-15.641,5.18-19.5,1.175-3.969,4.659-15.223,7.4-24,2.929-9.347,6.917-21.572,8.89-27.25,1.9-5.475,6.47-17.587,10.18-27,3.666-9.277,9.44-23.071,12.87-30.749,4.209-9.395,9.767-21,16.52-34.5l12.75-8.34c6.993-4.569,15.853-10.123,19.75-12.38,3.811-2.2,10.54-5.8,15-8.03,4.493-2.237,12.567-5.929,18-8.23,5.464-2.325,10.892-4.636,12-5.13,1.131-.493,6.855-2.453,12.5-4.28,5.822-1.887,15.243-4.556,21-5.95,5.783-1.413,13.634-3.078,17.5-3.711,3.6-.6,8.676-1.485,11-1.949a107.046,107.046,0,0,1,13.75-.89c1.437-.017,2.6-.028,3.606-.028,6.026,0,6.6.423,8.614,2.668a17.942,17.942,0,0,1,2.53,3.25c.03.273-5.337,2.252-11.72,4.32-6.652,2.157-12.705,4.221-13.78,4.7-1.062.463-3.977,1.513-6.5,2.34s-9.627,3.4-15.5,5.639c-6.062,2.305-14.137,5.584-18,7.31-3.754,1.667-13.637,6.42-22.5,10.821-8.5,4.224-21.283,11.348-28.5,15.88-7.15,4.5-16.459,10.816-20.75,14.081-4.022,3.069-7.112,5.669-7.035,5.92,0,.012.015.019.034.02a115.478,115.478,0,0,0,10.751-4.611c5.531-2.564,18.091-7.907,28-11.91,10.047-4.059,22.832-8.908,28.5-10.81,5.927-1.993,14.45-4.7,19-6.03,4.726-1.4,13.249-3.7,19-5.13,5.818-1.462,13.893-3.315,18-4.13,4.131-.832,9.962-1.949,13-2.49s8.861-1.4,13-1.91,10.857-1.368,15-1.91,12.2-1.438,18-2c5.731-.557,16.048-1.355,23-1.78,6-.367,17.334-.634,26.94-.634,1.245,0,2.443,0,3.56.014,9.879.08,24.459.645,32.5,1.26,8.006.613,19.221,1.77,25,2.58,5.979.829,13.359,1.915,16.5,2.409,3.3.52,8.461,1.409,11.5,1.98,2.922.543,9.95,2.058,16,3.451,5.734,1.332,14.93,3.6,20.5,5.06,5.525,1.456,15.843,4.587,23,6.98,7.052,2.357,19.165,6.767,27,9.83,7.78,3.051,18.1,7.4,23,9.7,4.956,2.313,11.573,5.511,14.749,7.13,2.754,1.4,5.37,2.462,6.085,2.462a.245.245,0,0,0,.166-.041.087.087,0,0,0,.021-.071c-.037-.475-2.352-2.583-5.27-4.8-3.152-2.394-10.891-7.625-17.25-11.66-6.471-4.1-14.771-9.106-18.5-11.16-3.877-2.135-12.4-6.5-19-9.73-6.416-3.14-14.2-6.858-17-8.12-2.6-1.174-9.85-4.187-16.5-6.861-6.3-2.528-18.295-6.838-26.74-9.609-8.4-2.748-15.22-5.435-15.2-5.99.012-.667,2.324-3.611,7.07-9l11.68.72c6.5.4,14.434,1.167,17.69,1.7,3.278.527,10.007,1.841,15,2.93s13.75,3.339,19.5,5.009c5.835,1.689,15.929,5.121,22.5,7.65,6.6,2.53,17.815,7.433,25,10.931,7.091,3.441,15.839,7.963,19.5,10.08,4.324,2.508,15.184,9.566,32.28,20.98l6.65,13.5c3.692,7.484,7.716,16.007,8.97,19,1.243,2.932,3.3,7.661,4.59,10.5s5.751,13.832,9.76,24c4.11,10.424,9.947,26.35,13.01,35.5,3.047,9.124,6.7,20.563,8.149,25.5.827,2.822,1.857,6.33,2.766,9.424l.269.915.166.564c.523,1.781.994,3.384,1.35,4.6,1.063,3.578,3.045,10.98,4.42,16.5,1.333,5.316,3.352,13.614,4.5,18.5,1.086,4.654,3.329,15.2,5,23.5,1.7,8.5,3.953,21.064,5.02,28,1.1,7.074,2.457,16.27,3.03,20.5.577,4.328,1.479,11.954,2.01,17,.543,5.249,1.27,13.548,1.62,18.5.375,5.305.788,10.894.96,13,.218,2.666.4,14.769.57,37l-3.72,5.5c-2.075,3.058-8.49,10.4-14.3,16.37a231.01,231.01,0,0,1-18.57,17.12c-4.418,3.455-11.82,8.744-16.5,11.79s-13.44,8.015-19.5,11.05c-6.032,3.021-13.434,6.471-16.5,7.69-3.015,1.2-9.3,3.429-14,4.96-4.669,1.527-12.3,3.711-17,4.87-4.677,1.149-11.182,2.576-14.5,3.18-3.2.581-10.6,1.712-16.5,2.52a181.857,181.857,0,0,1-23.909,1.321c-.834,0-1.706,0-2.592-.011l-9.5-11.631c-5.326-6.508-13.513-16.57-18.25-22.43-4.825-5.958-8.75-11.251-8.75-11.8s1.906-1.469,4.25-2.05a83.006,83.006,0,0,0,8.25-2.6c2.31-.882,6.123-2.255,8.5-3.06,2.475-.832,9.2-3.793,15-6.6,5.77-2.79,14.069-7.182,18.5-9.79,4.368-2.57,11.546-7.429,16-10.83a212.77,212.77,0,0,0,16.349-14.35c4.58-4.51,9.626-9.879,11.25-11.97,1.362-1.765,2.222-3.308,2.044-3.671a.145.145,0,0,0-.143-.08,11.375,11.375,0,0,0-3.75,1.86c-1.533,1.035-5.082,3.155-7.75,4.63-2.739,1.524-10.814,5.781-18,9.49s-21.311,9.973-31.5,13.971c-10,3.93-19.391,7.625-20.5,8.069-1.125.45-5.7,1.994-10,3.37-4.35,1.393-10.126,3.245-12.75,4.09s-11.15,3.057-19,4.93c-7.889,1.892-17.2,3.933-20.75,4.55-3.3.581-8.536,1.475-12,2.059-2.942.5-8.549,1.366-12.5,1.94-3.87.553-12.17,1.459-18.5,2.02-6.232.552-20.864,1-32.619,1h-.382c-11.8,0-28.62-.673-37.5-1.5-8.841-.824-18.71-1.892-22-2.381-3.262-.484-10.215-1.619-15.5-2.53-5.371-.924-12.549-2.337-16-3.15-3.576-.829-11.06-2.665-16.5-4.019-5.559-1.4-11.391-2.943-13-3.451s-7.842-2.5-14-4.5c-6.07-1.966-11.9-3.94-13-4.4-1.078-.441-8.031-3.141-15.5-6.019s-21.373-9.137-31-13.961-20.513-10.613-24.25-12.91c-3.078-1.9-5.838-3.278-6.564-3.278-.123,0-.186.04-.186.118,0,.552,4.823,5.971,10.751,12.08a212.926,212.926,0,0,0,19.75,17.89c4.986,3.767,12.612,8.957,17,11.569,4.417,2.631,12.044,6.678,17,9.021,5.089,2.406,11.593,5.3,14.5,6.449,3.076,1.223,8.459,3.1,12,4.19,3.581,1.113,6.722,2.181,7,2.38a.109.109,0,0,1,.039.077c.057.423-1.04,2.213-2.5,4.073-1.684,2.139-3.441,4.313-4,4.95-.689.775-11.133,13.641-31.04,38.24l-7.5.031Zm271.448-273.309c-2.006,0-3.557.047-4.255.128-1.329.145-4.294.694-6.75,1.25a61.785,61.785,0,0,0-10,3.68,77.258,77.258,0,0,0-10.75,6.38,66.964,66.964,0,0,0-7.63,6.55,103.394,103.394,0,0,0-6.71,8.87,46.65,46.65,0,0,0-4.13,6.75,22.214,22.214,0,0,1-1.44,4c-.783,1.8-1.892,4.824-2.471,6.75a70.575,70.575,0,0,0-1.74,8.5,92.713,92.713,0,0,0-.7,10.5c-.01,3.023.129,6.611.311,8s.884,4.764,1.56,7.5a90.108,90.108,0,0,0,3.02,9.5,78.54,78.54,0,0,0,6.51,11.5,78.329,78.329,0,0,0,8.57,10.651,73.683,73.683,0,0,0,9.35,7.12,60.71,60.71,0,0,0,10.5,5.18,88.279,88.279,0,0,0,12.5,2.811,44.464,44.464,0,0,0,6.594.6,45.92,45.92,0,0,0,9.406-1.251,77.749,77.749,0,0,0,14-4.34,73.815,73.815,0,0,0,12-7.79c3.585-2.882,7.366-6.516,8.43-8.1a40.326,40.326,0,0,1,3.39-4.38,30.786,30.786,0,0,0,3.52-5.5,78.317,78.317,0,0,0,3.36-7.5c.7-1.931,1.988-6.193,2.87-9.5a69.021,69.021,0,0,0,1.56-16c-.02-7.391-.583-11.709-2.149-16.5a128.812,128.812,0,0,0-4.8-12.27c-1.435-3.106-2.889-5.73-3.175-5.73h-.009c-.288,0-1.52-1.785-2.746-3.98-1.248-2.224-5.285-6.517-9-9.571a71.39,71.39,0,0,0-11.749-7.889c-2.765-1.3-7.138-3.069-9.75-3.95a51.349,51.349,0,0,0-12-1.87C2101.014-194.823,2099.062-194.858,2097.317-194.858Zm-212.85-.1a35.469,35.469,0,0,0-3.905.164,60.556,60.556,0,0,0-8,1.959,26.45,26.45,0,0,0-5.95,2.451,4.642,4.642,0,0,1-2.75.879c-.993,0-1.8.449-1.8,1a.955.955,0,0,1-.9,1c-.5,0-3.486,1.906-6.66,4.25a68.294,68.294,0,0,0-10.85,10.76,98.1,98.1,0,0,0-6.71,9.5,75.678,75.678,0,0,0-3.7,8.99,85.611,85.611,0,0,0-2.87,10.5,86.7,86.7,0,0,0-.75,12.5,74.565,74.565,0,0,0,1.89,15,73.3,73.3,0,0,0,4.05,11.5c1.26,2.531,3.138,6.2,4.07,8,1.015,1.929,5,6.639,8.88,10.5a53.22,53.22,0,0,0,14.55,10.69,101.354,101.354,0,0,0,9.5,4.25c1.06.3,3.322.893,5,1.3a58.864,58.864,0,0,0,9.8.628c.4,0,.805,0,1.2-.008a86.835,86.835,0,0,0,10-.55c1.089-.238,3.781-1.015,6-1.731a95.1,95.1,0,0,0,10.34-4.43,53.492,53.492,0,0,0,11.021-7.65,112.417,112.417,0,0,0,8.66-9.53,51.436,51.436,0,0,0,6.33-11c1.243-3.157,2.694-6.807,3.17-7.969a43.182,43.182,0,0,0,1.57-5c.411-1.653.859-8.158,1-14.5s-.065-11.943-.48-12.5a9.148,9.148,0,0,1-.931-3.75,11.722,11.722,0,0,0-.9-4,9.889,9.889,0,0,1-.98-2.75,51.755,51.755,0,0,0-3.209-7.5,58.371,58.371,0,0,0-5.77-9.4c-1.542-1.859-4.6-5.161-6.82-7.36a68.031,68.031,0,0,0-8-6.66,76.671,76.671,0,0,0-10.5-5.46,47.214,47.214,0,0,0-10.5-3.15c-2.161-.216-6.423-.566-9.5-.78C1887.656-194.9,1886.024-194.954,1884.467-194.954Z" transform="translate(-1656 404)" fill="#8C9EFF"/>
                    </svg>
                    <p>Discord</p>
                </div>
                <div class="integration-card slack">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 513 512" width="513" height="512">
                        <style>
                            tspan { white-space:pre }
                            .shp0 { fill: #00bcd4 } 
                            .shp1 { fill: #4caf50 } 
                            .shp2 { fill: #e91e63 } 
                            .shp3 { fill: #ff9800 } 
                        </style>
                        <g id="Background">
                            <path id="Path 0" class="shp0" d="M172 2.28C168.42 3.5 163.25 5.82 160.5 7.42C157.75 9.03 153.02 12.87 150 15.95C146.97 19.03 143.08 24.24 141.34 27.53C139.6 30.81 137.39 36.2 136.43 39.5C135.3 43.38 134.7 48.69 134.74 54.5C134.79 60.62 135.47 65.58 136.86 70C137.98 73.57 140.65 79.2 142.78 82.5C144.91 85.8 149.32 90.92 152.57 93.88C155.83 96.84 161.09 100.55 164.25 102.13C167.41 103.71 172.81 105.67 176.25 106.49C181.05 107.63 189.51 107.97 212.75 107.99L243 108C243.02 51.46 242.82 47.7 240.97 40.5C239.83 36.1 237.7 30.25 236.22 27.5C234.74 24.75 230.6 19.53 227.01 15.89C223.16 11.99 218.05 8.05 214.5 6.26C211.2 4.59 206.02 2.49 203 1.6C199.56 0.59 193.94 -0.01 188 0.02C180.87 0.04 176.88 0.61 172 2.28Z" />
                            <path id="Path 1" class="shp1" d="M309.5 1.5C306.75 2.29 301.6 4.41 298.05 6.22C294.36 8.1 289.02 12.09 285.55 15.55C282.22 18.88 278.08 24.28 276.34 27.55C274.6 30.82 272.35 36.2 271.34 39.5C269.62 45.1 269.5 50.58 269.5 122L269.5 198.5C273.45 209.35 276.38 215.16 278.55 218.41C280.72 221.67 284.97 226.55 288 229.26C291.02 231.98 296.2 235.51 299.5 237.1C302.8 238.7 308.65 240.68 312.5 241.49C316.35 242.3 321.3 242.97 323.5 242.97C325.7 242.97 330.65 242.3 334.5 241.49C338.35 240.68 344.42 238.57 348 236.8C352.01 234.82 357.04 231.08 361.12 227.04C365.02 223.19 368.98 218.04 370.76 214.5C372.43 211.2 374.62 205.8 375.64 202.5C377.38 196.88 377.5 191.72 377.5 121C377.5 50.7 377.37 45.09 375.67 39.5C374.66 36.2 372.34 30.8 370.5 27.5C368.67 24.2 365.1 19.36 362.58 16.75C360.06 14.14 355.64 10.43 352.75 8.52C349.86 6.6 344.8 4.05 341.5 2.84C337.07 1.23 332.75 0.58 325 0.36C318.07 0.17 312.8 0.56 309.5 1.5Z" />
                            <path id="Path 2" class="shp0" d="M47 135.01C43.42 135.44 38.25 136.65 35.5 137.69C32.75 138.72 28.36 140.79 25.75 142.29C23.14 143.78 18.52 147.47 15.5 150.5C12.47 153.52 8.46 158.81 6.57 162.25C4.69 165.69 2.45 171.2 1.59 174.5C0.74 177.8 0.03 184.1 0.01 188.5C0 192.9 0.67 199.09 1.49 202.25C2.32 205.41 4.41 210.81 6.14 214.25C8.03 218 11.92 223.13 15.89 227.1C20.56 231.76 24.7 234.74 30 237.27C34.13 239.24 40.2 241.34 43.5 241.93C47.45 242.64 74.29 243 122 242.99C182.6 242.97 195.53 242.73 200.75 241.49C204.19 240.67 209.36 238.85 212.25 237.45C215.14 236.04 219.67 233.23 222.32 231.2C224.97 229.16 228.87 225.25 230.99 222.5C233.12 219.75 236.22 214.57 237.9 211C239.57 207.42 241.47 201.35 242.1 197.5C242.74 193.64 242.97 187.47 242.63 183.75C242.28 180.04 240.98 174.19 239.74 170.75C238.49 167.31 235.9 162.06 233.99 159.08C232.07 156.1 227.97 151.37 224.88 148.58C221.79 145.79 216.61 142.19 213.38 140.6C210.15 139 205.25 137 202.5 136.16C198.23 134.85 186.93 134.59 125.5 134.42C85.9 134.3 50.57 134.57 47 135.01Z" />
                            <path id="Path 3" class="shp1" d="M443.5 136.57C440.75 137.34 436.25 139.08 433.5 140.45C430.75 141.82 426.44 144.64 423.93 146.72C421.41 148.8 417.69 152.52 415.65 155C413.61 157.47 410.84 161.75 409.5 164.5C408.16 167.25 406.37 172.2 405.53 175.5C404.31 180.26 403.99 187.86 403.99 212.25L404 243C448.89 243.01 464.13 242.54 467.5 241.94C470.8 241.35 477.1 239.13 481.5 237.02C487.23 234.27 491.3 231.38 495.82 226.84C499.96 222.69 503.45 217.91 505.92 213C508.25 208.37 510.18 202.63 510.97 198C511.73 193.58 512 187.73 511.63 183.75C511.28 180.04 509.88 173.96 508.52 170.25C507.15 166.54 504.34 161.07 502.27 158.1C500.19 155.13 496.25 150.69 493.5 148.23C490.75 145.77 486.02 142.52 483 140.99C479.97 139.47 475.02 137.49 472 136.6C468.55 135.58 463.15 135.02 457.5 135.08C452.55 135.13 446.25 135.8 443.5 136.57Z" />
                            <path id="Path 4" class="shp2" d="M46.5 270.03C43.2 270.47 38.02 271.8 35 272.99C31.97 274.17 27.29 276.57 24.59 278.32C21.89 280.07 17.21 284.2 14.2 287.5C11.19 290.8 7.43 296.09 5.86 299.25C4.29 302.41 2.28 308.04 1.4 311.75C0.32 316.3 -0.05 321.11 0.27 326.5C0.55 331.16 1.76 337.42 3.16 341.5C4.48 345.35 7.68 351.54 10.28 355.25C12.88 358.96 17.36 363.77 20.25 365.93C23.14 368.09 28.42 371.23 32 372.9C35.57 374.58 41.65 376.47 45.5 377.1C49.36 377.74 55.53 377.97 59.25 377.63C62.96 377.28 68.81 375.98 72.25 374.74C75.69 373.49 80.94 370.9 83.91 368.99C86.89 367.07 91.56 363.02 94.29 360C97.02 356.97 100.5 352.02 102.02 349C103.54 345.97 105.61 340.8 106.61 337.5C108.19 332.27 108.43 327.53 108.46 300.5L108.5 269.5C65.1 269.3 49.8 269.6 46.5 270.03ZM181.5 270.07C178.2 270.49 173.02 271.75 170 272.86C166.97 273.98 161.8 276.69 158.5 278.88C155.2 281.06 151.07 284.35 149.31 286.18C147.56 288 144.51 292.2 142.52 295.5C140.54 298.8 137.92 304.65 136.71 308.5C134.51 315.46 134.5 315.91 134.5 391C134.5 461.45 134.62 466.9 136.34 472.5C137.35 475.8 139.6 481.2 141.34 484.5C143.08 487.8 147.2 493.2 150.5 496.5C153.8 499.8 159.2 503.93 162.5 505.69C165.8 507.44 171.2 509.58 174.5 510.44C177.8 511.3 184.32 512.01 189 512.01C193.93 512.02 199.81 511.34 203 510.4C206.02 509.51 211.2 507.42 214.5 505.75C218.05 503.97 223.17 500.03 227.04 496.12C231.08 492.04 234.82 487.01 236.8 483C238.57 479.42 240.68 473.35 241.49 469.5C242.71 463.71 242.97 450.07 242.99 390.5C243.02 321.04 242.95 318.22 240.97 310.5C239.83 306.1 237.7 300.25 236.23 297.5C234.76 294.75 230.39 289.35 226.53 285.5C221.87 280.86 217.3 277.44 213 275.36C209.42 273.64 204.25 271.76 201.5 271.18C198.75 270.61 194.47 269.95 192 269.72C189.52 269.49 184.8 269.65 181.5 270.07Z" />
                            <path id="Path 5" class="shp3" d="M315.5 270.02C312.2 270.46 307.02 271.81 304 273.01C300.97 274.21 296.06 276.84 293.09 278.85C290.11 280.86 285.45 284.97 282.74 288C280.02 291.02 276.49 296.2 274.9 299.5C273.3 302.8 271.32 308.65 270.51 312.5C269.7 316.35 269.02 321.3 269.01 323.5C269 325.7 269.47 330.2 270.06 333.5C270.65 336.8 272.87 343.1 274.98 347.5C277.72 353.21 280.63 357.32 285.16 361.84C289.67 366.35 293.81 369.29 299.5 372.04C303.9 374.15 310.42 376.39 314 376.99C318.45 377.75 343.95 378 395 377.8L469.5 377.5C479.57 373.6 484.94 370.9 487.91 368.99C490.89 367.07 495.56 363.02 498.29 360C501.02 356.97 504.5 352.02 506.02 349C507.53 345.97 509.51 341.02 510.4 338C511.37 334.72 512.02 328.87 512.02 323.5C512.02 318.19 511.36 312.25 510.41 309C509.53 305.97 507.39 300.8 505.65 297.5C503.92 294.2 499.8 288.8 496.5 285.5C493.2 282.2 487.8 278.08 484.5 276.35C481.2 274.61 476.02 272.37 473 271.38C467.91 269.7 462.02 269.55 394.5 269.38C354.35 269.29 318.8 269.57 315.5 270.02ZM269.02 433.25C269.03 455.53 269.39 464.17 270.54 469.5C271.38 473.35 273.5 479.42 275.27 483C277.28 487.06 280.92 491.94 284.99 496C288.57 499.57 294.2 503.93 297.5 505.69C300.8 507.44 306.2 509.58 309.5 510.44C312.8 511.3 319.1 512 323.5 511.99C327.9 511.97 334.2 511.26 337.5 510.4C340.8 509.54 346.2 507.41 349.5 505.67C352.8 503.92 358.2 499.8 361.5 496.5C364.8 493.2 368.92 487.8 370.66 484.5C372.4 481.2 374.62 475.8 375.6 472.5C376.78 468.53 377.34 463.46 377.28 457.5C377.21 451.46 376.51 446.36 375.14 442C374.01 438.42 371.34 432.8 369.2 429.5C367.05 426.2 363.09 421.35 360.4 418.73C357.7 416.11 352.57 412.43 349 410.54C345.42 408.66 339.57 406.43 336 405.58C330.89 404.36 323.02 404.03 299.25 404.01L269 404L269.02 433.25Z" />
                        </g>
                    </svg>
                    <p>Slack</p>
                </div>
            </div>
          </button>
          <div class="show-member">
          <% @project.users.each do |user| %>
              <li class="show-user">
                <img src="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(user.email.downcase) %>" title="<%= user.username %>">
              </li>
          <% end %>
          </div>
          <button class="member">
            <a href="" aria-label="">
              <label for="addmember" class="member-label">Ajouter un membre</label>
            </a>
          </button>
        </div>
      </div>
      <div class="project-description">
        <p><%= @project.description %></p>
      </div>
    </section>



    <% @project.task_lists.each_with_index do |task_list, tli| %>
      <section class="tasklist">
        <div class="tasklist-title">
          <h3 class="tasklist-name"><%= task_list.name %></h3>
          <button class="edit">
            <%= link_to edit_project_task_list_path(id: task_list, project_id: @project.id) do %>
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 383.947 383.947" style="enable-background:new 0 0 383.947 383.947;" xml:space="preserve">
                <g><g><g><polygon points="0,303.947 0,383.947 80,383.947 316.053,147.893 236.053,67.893"/><path d="M377.707,56.053L327.893,6.24c-8.32-8.32-21.867-8.32-30.187,0l-39.04,39.04l80,80l39.04-39.04 C386.027,77.92,386.027,64.373,377.707,56.053z"/></g></g></g>
              </svg>
              Éditer
            <% end %>
          </button>
        </div>
        <div class="tasklist-container">

        <% task_list.tasks.each_with_index do |task, index| %>
          <div class="task"
           data-edit="<%= edit_project_task_list_task_path(project_id: @project,task_list_id: task_list,id: task) %>"
           data-delete="<%= project_task_list_task_path(project_id: @project,task_list_id: task_list,id: task) %>"
        >
            <p class="task-status"><%= task.status %></p>
            <p class="task-title"><%= task.title %></p>
            <p class="task-duration"><%= task.duration %> jours</p>
            <p class="task-description"><%= task.description %></p>
            <div class="task-row">
              <ul class="task-users">
              <% task.users.each do |user| %>
                <li class="task-user">
                <img src="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(user.email.downcase) %>" title="<%= user.username %>">
                  </li>
              <% end %>
              </ul>
              <div class="task-complete">
                <input 
                  type="checkbox" 
                  id="complete<%= index.to_s + tli.to_s %>" 
                  class="task-complete-check"
                  data-edit-task="<%= project_task_list_task_path(project_id: @project, task_list_id: task_list, id: task)%>.json" <% if task.status === 'Done' %> checked <% end %>>
                <label for="complete<%= index.to_s + tli.to_s %>" class="task-complete-label">
                  <svg width="25" height="25" viewBox="0 0 15 13" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.2413 1.67668L5.6063 10.9997" stroke="black" stroke-width="4"/>
                    <path d="M2.00005 6.00002L8.00019 10.3201" stroke="black" stroke-width="4"/>
                  </svg>
                </label>
              </div>
            </div>
            <span class="options"></span>
          </div>
          <% end %>
          <div class="space"></div>
          <div class="task-add">      
            <%= link_to 'New Task', new_project_task_list_task_path(project_id: @project, task_list_id: task_list), class: 'new-task' %>
          </div>
          <div class="scroll-wedge"></div>
        </div>
        <button class="delete">
        <%= link_to project_task_list_path(id: task_list, project_id: @project.id), method: :delete, data: { confirm: 'Are you sure?'} do %>
          <svg width="165" height="202" viewBox="0 0 165 202" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
              <path d="M20.625 176.75C20.625 190.669 29.8749 202 41.2498 202H123.75C135.125 202 144.375 190.669 144.375 176.75V50.5H20.625V176.75Z" fill="#C6C6C6"/>
              <path d="M103.125 12.6249V0H61.8749V12.6249H10.3125V37.8747H154.687V12.6249H103.125Z" fill="#C6C6C6"/>
            </g>
            <defs>
              <clipPath id="clip0">
              <rect width="165" height="202" fill="white"/>
              </clipPath>
            </defs>
          </svg>
          <% end %>
        </button>
      </section>
    <% end %>

    <button class="new-tasklist">
      <%= link_to 'Ajouter une liste', new_project_task_list_path(project_id: @project.id) %>
    </button>
  </main>
</section>
<script defer>
  //integration button
  let plugin = document.querySelector('#plugin');
  let integr = document.querySelector('.integration');
  let toggle = false;
  integr.style.display = "none";

  plugin.addEventListener('click', ()=>{
    if (toggle) integr.style.display = "none";
    else integr.style.display = "flex";
    toggle = !toggle;
  });

  let slack = document.querySelector('.slack');
  slack.addEventListener('click', ()=>{
    fetch(`https://hooks.slack.com/services/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`, {
     method: 'POST',
     body: {"text":"Hello, World!"},
     headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
    })
    .then(res => console.log(res))
  });
</script>
<script>
     let projectsColor = document.querySelectorAll('.project-item-color');
  // if (typeof projectsColor === 'undefined') {
  //   let projectsColor = document.querySelectorAll('.project-item-color');
  // } else {
  //   projectsColor = document.querySelectorAll('.project-item-color');
  // }

  projectsColor.forEach(element => {
      let color = element.getAttribute('color');
      element.style.background = color;
  });


  if (document.querySelector('body').contains(document.querySelector('.options'))) {
    
    let options = document.querySelectorAll('.options');
    for (let i = 0; i < options.length; i++) {
      let container = document.createElement('div');
      let edit = document.createElement('a');
      let del = document.createElement('a');
      
      edit.textContent = "Éditer";
      edit.href = options[i].parentElement.getAttribute('data-edit');
      edit.setAttribute("rel","nofollow");
      del.textContent = "Supprimer";
      del.href = options[i].parentElement.getAttribute('data-delete');
      del.setAttribute("rel","nofollow");
      del.setAttribute("data-method","delete");
      container.classList.add('window');
      container.classList.add('hide');
      
      container.appendChild(edit);
      container.appendChild(del);
      options[i].parentElement.appendChild(container);
  }

  // Checkbox 
  const csrfToken = document.querySelector("[name='csrf-token']").content;
  const checkboxTasks = document.querySelectorAll('.task-complete-check');

/**
 * Edit task status (In progress or done)
 */
  const editTask = (editTaskRoute, statusValue, target) => {
    fetch(editTaskRoute, {
          method: 'PUT',
          headers: {
            "X-CSRF-Token": csrfToken,
            'Content-type': 'application/json',
          },
          body: JSON.stringify({status: statusValue})
        })
        .then(res => res.json())
        .then(res => {
            const taskContainer = target.parentElement.parentElement.parentElement;
            taskContainer.children[0].innerHTML = res.status;
        })
        .catch(error => console.log(error))
  };

  for(let checkbox of checkboxTasks) {
    checkbox.addEventListener('click', (e) => {
      const editTaskRoute = checkbox.getAttribute('data-edit-task');
      
      if(!checkbox.checked) {
        editTask(editTaskRoute, "In progress", e.target);
      } else {
        editTask(editTaskRoute, "Done", e.target)
      }

    });
  }

  for (let y = 0; y < options.length; y++) {
    options[y].addEventListener('click', () => {
      if (document.querySelectorAll('.window')[y].classList.contains('hide'))  document.querySelectorAll('.window')[y].classList.remove('hide');
      else document.querySelectorAll('.window')[y].classList.add('hide');
    })
  }

}

</script>