<p id="notice"><%= notice %></p>
<header>
    <h2>Modifier les membres du projet</h2>
</header>

<main class="center">

      <div class="project-user">
          <div class="row upper">
            <p>User</p><p>Role</p><p>Project</p>
          </div>

          <% @project_users.each do |project_user| %>
              <div class="row">
                <p><%= project_user.user.username %></p>
                <p><%= project_user.role %></p>
                <p><%= project_user.project_id %></p>
                <p><%= link_to 'Destroy', project_project_user_path(id: project_user.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>
              </div>
          <% end %>

      </div>



<%= render 'form', project_user: @project_user %>
<%= link_to 'Retour', project_path(@project), class:"subtitle-action" %>
</main>